/*Fuentes de la pagina.*/
/*Fuente para el pie de página, también para los login y password.*/
@font-face {
    font-family: 'noticia_textregular';
    src: url('../fonts/noticia-text/noticiatext-regular-webfont.eot');
    src: url('../fonts/noticia-text/noticiatext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noticia-text/noticiatext-regular-webfont.woff2') format('woff2'),
         url('../fonts/noticia-text/noticiatext-regular-webfont.woff') format('woff'),
         url('../fonts/noticia-text/noticiatext-regular-webfont.ttf') format('truetype'),
         url('../fonts/noticia-text/noticiatext-regular-webfont.svg#noticia_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Esta fuente será para el menú principal.*/
@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald/oswald-regular-webfont.eot');
    src: url('../fonts/oswald/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Esta fuente será para el texto.*/

/* Señalar algún punto del texto.*/
@font-face {
    font-family: 'playfair_displayblack';
    src: url('../fonts/playfair-display/playfairdisplay-black-webfont.eot');
    src: url('../fonts/playfair-display/playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair-display/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/playfair-display/playfairdisplay-black-webfont.woff') format('woff'),
         url('../fonts/playfair-display/playfairdisplay-black-webfont.ttf') format('truetype'),
         url('../fonts/playfair-display/playfairdisplay-black-webfont.svg#playfair_displayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Palabras destacadas*/
@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfair-display-bold/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfair-display-bold/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair-display-bold/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfair-display-bold/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfair-display-bold/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfair-display-bold/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Fuente para los menús. en negrita representará los submenús.*/

/*Hijos de las categorias*/
@font-face {
    font-family: 'arvoregular';
    src: url('../fonts/arvo/arvo-regular-webfont.eot');
    src: url('../fonts/arvo/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-regular-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-regular-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Padres*/
@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo/arvo-bold-webfont.eot');
    src: url('../fonts/arvo/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bold-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-bold-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight: normal;
    font-style: normal;

}



#ejer{
    width:30%;
    margin:0%;
    margin-top: -55px;
    height:430px;
    border:2px solid #310;
    background-image: url("../banner/fondo.jpg");
    background-size: 185%;
    overflow: hidden;
    float: right;
}

#ejer:hover{
  /* background-size: 170%;*/
}
 
@keyframes animaciond{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(10deg);}}

@-webkit-keyframes animaciond{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(10deg);}}

@-moz-keyframes animaciond{
  0%{-moz-transform: rotate(0deg);}
  100%{-moz-transform: rotate(10deg);}}

@-o-keyframes animaciond{
  0%{-o-transform: rotate(0deg);}
  100%{-o-transform: rotate(10deg);}}


 #d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10{
    width:20%;
    margin-left:0%;
    float:left;
    animation:animaciond 0.1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}

#fotosejer img{
    width:27%;
    height:160px;
    margin-left: 4%;
    margin-top:-20%;
    border: 1px solid #4e4e4e;
}





#ejer:hover{
    color:#ca3f3b;
    text-transform: underline;
}

#ejer h2:hover{
    color:orange;
    text-transform: underline;
    background-color: #220;
    
}

#ejer h2{
    text-decoration: none;
    font-size:2.4em;
    padding:6%;

    text-align:center;
    text-transform: uppercase;
    color: black;
}



#fotosejer {
        
    width:100%;
    margin-top:46%;
    height: 100px;
    position:relative;

    /* Firefox */
    -moz-animation-name: animacioFotos;
    -moz-animation-duration:5s;
    -moz-animation-delay:0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear; 
    -moz-animation-direction: normal;

    /* Chrome / Safari */
    -webkit-animation-name: animacioFotos;
    -webkit-animation-duration:3s;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;

}


 
@-moz-keyframes animacioFotos {
    0% {top: -50%;opacity: 1;}
    100% {top:100%;opacity: 0.1;}
}  

@-webkit-keyframes animacioFotos {
    0% {top: -50%;opacity: 1;}
    100% {left:100%;opacity: 0.1;}
}  

@keyframes animacioFotos {
    0% {top: -50%;opacity: 1;}
    100% {top:100%;opacity: 0.1;}
}  










body{
	margin: 0 auto;
}


header{
	/*margin: .5em .5em 0 .5em;*/
	/*width: 99%;*/
	min-height: 150px;
	background-color: #483E3D;
	overflow: hidden;
}
img#logo{
	position: relative;
	margin-top: 2em;
	margin-left: 1em;
	margin: 1em;
}

ul.log{
	position: relative;
	margin-left: 60%;
	margin-top: -2em;
}
.log la{
	display: inline-block;
	padding: 1px 10px;
	font-family: "noticia_textregular";
	font-size: 20px;
	color: white;
}

img#menu {
    display: none;
}

div#menulog{
	display: none;
}
div#cap{
	float: right;
	margin-right: 40px;
}
/*Zona de navegacon menu horizontal*/

/*#nav{
	position: relative;
	margin-left: 35%;
	margin-top: 1em;
	margin-bottom: 0em;
	color: white;
}*/


ul{
	list-style:none;
}
.nav{
	overflow: hidden;
}
.nav > la {
	float:left;
	text-align: left;
}

.nav la a {
	position: relative;
	font-size: 25px;
	text-transform: uppercase;
	display: inline-block;
	padding: 1px 10px;
	font-family: 'oswaldregular', sans-serif;
}

.nav la a:hover {
	background-color:#C88657;
}

.nav la ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav la:hover > ul {
	display:block;
	margin:0px;
}

.nav la ul li {
	background-color: #483E3D;
	color: white;
	position:relative;
	left: -40px;
}


/*Mejorar css */
.equals {
    display: table;
}

.row {
    display: table-row;
}

/*sidebar*/
.buscador2{
	display: none;
}
aside{
	vertical-align: top;
/*	float: left;*/
    background-color: #625452;
    width: 313px;
    /*min-height: 550px;*/
     height: 500px; 
    /*margin-left: .5em;*/
	display: table-cell;
}
aside .busc{
	margin-left: 25px;
    color: #C88657;
    font-family: 'playfair_displaybold';
}


ul.lista li {
	color:  #C88657;
	font-family: 'arvoregular';
	text-decoration: none;
	text-transform: uppercase;
}

ul.lista {
    width: 180px;
    list-style: none;
    margin-left: -7px;
}
/*ul.lista li {
	border-bottom: 1px solid #7C7C7C;
	border-top: 1px solid #FFF;
	background: #F4F4F4;
}*/
ul.lista li a {
    padding: .2em 0 .2em 1.3em;
    display: block;
    text-decoration: none;
    color: #C88657;
    font-family: 'arvobold';
}


ul.lista li:hover{
	background: #E3E3E3;
}



/*Botones*/
.btn {
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #8b969e;
    padding: 3px 15px 3px 15px;
    margin-top: -3px;
    text-decoration: blink;
}

.btn:hover {
  background: #356380;
  text-decoration: none;
}



/*Fin*/
section{	
	/*float: left;*/
	padding: 10px;
	width:1500px;
	/*max-width: 72%;*/
	display: table-cell;
}
.breadcrumbs{
	display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 70%;
    font-family: "futura_bold", helvetica, arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    background-color: #625452;
    padding-left: 24px;
}

footer{
	clear: both;
	background-color: #483E3D;
	/*margin: 0em 0.5em 0em 0.5em;*/
	min-height: 200px;
}
footer div{
	margin-left: 1%;
	position: relative;
	float: left;
	width: 32%;
	font-family: 'noticia_textregular', serif;
	color: white;
}
footer div.redes{
	margin-left: 1%;
	position: relative;
	float: left;
	width: 49%;
	font-family: 'noticia_textregular', serif;
	color: white;
}

footer div.copyr{
	margin-left: 1%;
	position: relative;
	float: left;
	width: 49%;
	font-family: 'noticia_textregular', serif;
	color: white;
}

footer div.redes img{
	width: 50px;
	float: right;
	margin-right: 2em;
}
	
a{
	text-decoration: none;
	color:white;
}

/*Mostrar productos.*/

/*

.pic {
	position: relative;
	border-radius: 15px;
	width: 100%; /* for IE 6 
	background-color: white; 
}*/

.price {
    position: relative;
    margin-top: -142px;
    left: -8px;
    width: 31%;
    /* background-color: red; */
    /* padding: 0px; */
    color: #52625A;
    font-size: 21px;
    /* border: 2px solid #6FAE90; */
    border-radius: 15px;
}


#lista{
	float: left;
	width:100%;
}

.product{
	min-height: 141px;
	min-width: 139px;
	display: block;
	float: left;
	margin: 0.5%;
	background-color: #C88657;
	border: 7px solid #e3e3e3;
	border-radius: 3px;
	text-align: center;
}

.product .price{
	float:right;
}
.product .description:first-letter{
	text-align: left;
	font-family: 'playfair_displayblack', serif;
	text-transform: uppercase;
}

.product .title{
	font-family: 'playfair_displayblack', serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #483634;
}

.product img{
	border-radius: 10px;
    background-color: white;
}
/*Zoom en producto*/

  .product{
        /* Aumentamos la anchura y altura en 0.5 segundos */
        transition: width 0.5s, height 0.5s, transform 0.5s;
        -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
        -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
        -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
    }
    .product:hover{
        /* tranformamos el elemento al pasar el mouse por encima al 
           tamaño con scale(). */
        transform : scale(1.2);
        -moz-transform : scale(1.2);      /* Firefox */
        -webkit-transform : scale(1.2);   /* Chrome - Safari */
        -o-transform : scale(1.2);        /* Opera */
    }



/*Listar pedidos*/
img#imagen{
    width: 214px;
    height: 160px;
}
table#listadopro{
    border: 1px solid black;

}
table#listadopro{     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     
    width: 480px; 
    text-align: left;    
    border-collapse: collapse; 
}

th {
	font-size: 19px;
    font-weight: normal;
    padding: 8px;
    background-color: #C88657;
    border: 2px solid #e3e3e3;
    /* border-bottom: 1px solid #fff; */
    color: #52625A;
}

tr{
	border: 2px solid #e3e3e3;
}

td {   
    padding: 8px;     
    background-color: #C88657;     
    color: #52625A;
    font-size: 21px;
    border: 2px solid #e3e3e3;
}
td.textupper:first-letter{
	text-transform: uppercase;
}
tr:hover td { 
    background-color:#E8912B;
    font-size: 21px;
    color: #52625A;
    /*text-transform: uppercase;*/
}

div .posi{
	width: 300px;
	height: 300px;
	float: left;
	border-radius: 20px;
    margin: 5px;
}

/*mejoras http://www.456bereastreet.com/archive/200405/equal_height_boxes_with_css/*/
/*videos.php*/
.contenedor{
	background-color: red;
}
.vid{
	background-color: #483E3D;
	float: left;
	margin: .5em;
	border-radius: 20px;
	width: 425px;
	height: 350px;
}
video{
	width: 425px;
	height: 350px;
}

iframe{
	width: 400px;
	height: 330px;
	margin: 11.5px;
}

/*Audio!!*/
.aud{

}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

img#logo{	
	width: 224px;
}

ul.log{
	margin-left: -7%;
	margin-top: -1em;
}
.log la{
	font-size: 21px;
}
div.login{
	/* margin-right: 25%; */
    margin-top: 38px;
    float: right;
}

div#menulog{
	display: none;
}
div#cap{
	float: right;
    margin-right: 33px;
}
aside{
	    width: 205px;
}

.nav la a {
    font-size: 20px;
}

/*Buscador*/
#buscar {
    width: 123px;
}
aside .busc {
    margin-left: 25px;
    color: #C88657;
    font-family: 'playfair_displaybold';
    font-size: 12px;
}
/*Botones*/
.btn {
	font-size: 17px;
    margin-top: 3px;
    width: 122px;
}

/*Footer*/

footer div{
	text-align: center;
}

footer div.redes{
	margin-left: 1%;
	position: relative;
	float: left;
	width: 49%;
	color: white;
}
footer div.redes img{
	width: 22px;
	margin: 0 auto;
	margin-right: 1em;
}

.product:hover{
	transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}
}




@media screen and (max-device-width : 480px) {
img#logo{
	position: relative;
	/*margin-top: 2em;
	margin-left: 1em;
	margin: 1em;*/
	width: 224px;
}

/*img#menu{
	display: block;
	width: 70px;
    height: 32px;
    float: left;
}

img#menu:hover{
	background-color: red;
	display: block;
}*/

ul.log{
	position: relative;
	/*margin-left: -7%;*/
	padding: 0;
	margin-top: -1em;
}
.log la{
	display: inline-block;
	padding: 1px 10px;
	font-family: "noticia_textregular";
	font-size: 17px;
	color: white;
}
div.login{
	margin-left: -142%;
}

div#menulog{
	display: none;
}
div#cap{
	float: inherit;
	margin-right: -40px;
}


ul{
  	margin: 0;
  	padding: 0;
}
.nav{
	/*overflow: hidden;*/
	padding: 0;
	margin-right: 26px;
	/*display: none;*/
}

.nav la a {
  display: block;
  padding: .3em;
  text-decoration: none;
}

.nav la ul li {
	position:initial;
}
.buscador{
	display: none;
}
/*Botones*/
.btn {
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #8b969e;
    padding: 7px 25px 4px 25px;
    margin-top: 3px;
    margin-bottom: 15px;
    /* text-decoration: blink; */
    width: 146px;
}

.btn:hover {
  background: #356380;
  text-decoration: none;
}

/*Footer*/
footer{
	min-height: 348px;
}
footer div{
	width: 99%;
	font-size: 12px;
}

footer div.redes{
	margin-left: 1%;
	position: relative;
	float: left;
	width: 49%;
	color: white;
}
footer div.redes img{
	width: 22px;
	margin: 0 auto;
	margin-right: 1em;
}

.price {
    position: relative;
    margin-top: -142px;
    left: -50px;
    width: 31%;
    color: #52625A;
    font-size: 21px;
    border-radius: 15px;
}



.product{
	min-height: 141px;
	min-width: 139px;
	display: block;
	margin: 0.5%;
	float: initial;
	margin-top: 2.5%;
	background-color: #C88657;
	border: 7px solid #e3e3e3;
	border-radius: 3px;
	text-align: center;

}

.product img{
	border-radius: 10px;
	width: 201px;
    height: 150px;
    background-color: white;
}

.product:hover{
	transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

}

